* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kwh {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.kwh::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--color, black);
    animation: load 2s linear infinite;
}
